#app {
    font-family: 'Maple Mono CN';
    font-weight: '400';
}

p {
    line-height: 1.5;
}

ol {
    list-style: decimal;
    padding-left: 2rem;
}

@media print {
    body {
        margin: 16px;
    }
}
